/* 스크롤 탭 가리기 */
html {
  overflow: hidden;
  scroll-behavior: smooth;
}

/* 움직이는 애니메이션의 전체적인 속도 설정 */
* {
  transition-duration: 0.8s;
}

/* HTML 화면이 꽉 차도록 설정 */
body {
  margin: 0;
  padding: 0;
}

/* 화면에 꽉 차도록 설정하고, 기본 폰트 데이터 설정 */
div {
  width: 100%;
  height: 100vh;
  font-size: 32px;
  text-align: center;
}

/* 최상단 메뉴 바 스타일 지정 */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 75px;
  padding: 1rem;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

p {
  z-index: 1;
}

.menu{}
/* 메뉴 리스트화 및 좌우 정렬 */
.menu li { 
  list-style: none;
  list-style-type: none;
  margin-left: 50px;
  float: left;
  align-items: center;
}
/* 리스트 내 폰트 세부설정 */
.menu a {
  color: white;
  text-decoration-line: none;
  text-decoration: none;
  text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
}
/* 메뉴에 마우스 호버링 시 색상 및 크기 변경 애니메이션 */
.menu a:hover {
  color: aquamarine;
  font-size: 150%;
}

/* 최상단 메인화면 섹션 설정 */
.section1 {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: url("../Images/background.jpg") no-repeat center/cover;
}
.section1 p {
  font-size: 200%;
  color: white; 
  line-height: 70%;
}

/* 섹션 별 기본 스타일 설정 */
.section_base
{
  font-size: 32px;
  text-align: center;
  background-color: #eef7ff;
}

.section_base img,
.section_base p,
.section_base a img {
  z-index: 1;
}

#cen_img {
  display:block;
  margin:auto;
}

.starback {
  width: 15000px;
  height: 15000px;
  position: fixed;
  pointer-events: none;
  animation: rotate_image 400s linear infinite;transform-origin: 50% 50%;
  background-image: url("/Images/Backstar.png");
  background-repeat: repeat;
  z-index: 0;
}

@keyframes rotate_image{
  100% {
      transform: rotate(360deg);
  }
}

/* 각 섹션 위치의 타이틀 바 스타일 설정 */
.about .title,
.skills .title,
.portfolio .title,
.contact .title
{
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin: 30px 0 100px 0;
  padding-bottom: 8px;
}

.about .title::before,
.skills .title::before,
.portfolio .title::before,
.contact .title::before
{
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 220px;
  height: 3px;
  background-color: black;
  transform: translateX(-50%);
}

.about .title::after,
.skills .title::after,
.portfolio .title::after,
.contact .title::after
{
  content: "";
  position: absolute;
  bottom: -38px;
  left: 50%;
  width: 250px;
  font-size: 20px;
  color: rgb(255, 164, 45);
  padding: 5px;
  transform: translateX(-50%);
}

.swiper {
  justify-content: center;
  align-items: center;
  align-content: center;
}

.swiper-slide {
  border-radius: 10%;
  font-size: 18px;
  background: #fff;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide .titlename {
  font-size: 200%;
}

.swiper-slide .youtubesize {
  width: 460px;
  height: 259px;
}

.swiper-slide .titletext {
  font-size: 120%;
}

.swiper-slide .normaltext {
  font-size: 80%;
}

.swiper-slide .iconify {
  width: 18px;
  height: 18px;
  vertical-align: sub;
}

.swiper-slide .hyperlink {
  color: blue;
  cursor: pointer;
}

.swiper-slide .textboxalign {
  text-align: left;
  margin-left: 80px;
  line-height: 20px;
}

.whiteborder {
  margin-top: -9%;
  align-items: center;
  justify-content: center;
  width: 610px;
  height: 700px;
}


/* 반응형 웹 사이트를 위한 미디어 쿼리 설정 */
/* 모바일 반응 */
@media (min-width: 340px) {
  .section1 {
    font-size: 130%;
  }

  .section_base {
    display: block;
  }

}

/* 패드 반응 */
@media (min-width: 768px) {
  .section1 {
    font-size: 180%;
  }
  
  .section_base {
    display: flex;
  }
}

/* PC 이상 반응 */
@media (min-width: 1024px) {
  .section1 {
    font-size: 190%;
  }

  .section_base {
    display: flex;
  }

  .resolutionchange {
    text-align: left;
  }
}

/* 폰트 추가 (넷마블, https://noonnu.cc/font_page/118, 상업/재배포 가능) */
@font-face {
  src: url("../Fonts/netmarbleB.ttf");
  font-family: "fontfam";
}

@font-face {
  font-family: face;

  src: url("../Fonts/netmarbleL.ttf");
  font-family: "font_Lag";
}

.BoldFont {
  font-family: "fontfam";
  color: black;
}

.NormalFont {
  font-family: "font_Lag";
  color: black;
}