/* 스크롤 탭 가리기 */
html {
  overflow: hidden;
  scroll-behavior: smooth;
}

/* 움직이는 애니메이션의 전체적인 속도 설정 */
* {
  transition-duration: 0.8s;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 75px;
  padding: 1rem;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu{}
.menu li { 
  list-style: none;
  list-style-type: none;
  margin-left: 50px;
  float: left;
  align-items: center;
}
.menu a {
  color: white;
  display: block;
  text-decoration-line: none;
  text-decoration: none;
  text-shadow: -2px 0px black, 0px 2px black, 2px 0px black, 0px -2px black;
}

.menu a:hover {
  color: aquamarine;
  font-size: 150%;
}

/* HTML 화면이 꽉 차도록 설정 */
body {
  margin: 0;
  padding: 0;
}

/* 화면에 꽉 차도록 설정하고, 기본 폰트 데이터 설정 */
div {
  width: 100%;
  height: 100vh;
  font-size: 32px;
  text-align: center;
}

/* 최상단 메인화면 섹션 설정 */
.section1 {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: url("../Images/background.jpg") no-repeat center/cover;
}

/* 반응형 웹 사이트를 위한 미디어 쿼리 설정 */
/* 모바일 반응 */
@media (min-width: 340px) {
  .section1 {
    font-size: 130%;
  }

  .section_base {
    display: block;
  }

}

/* 패드 반응 */
@media (min-width: 768px) {
  .section1 {
    font-size: 180%;
  }
  
  .section_base {
    display: flex;
  }
}

/* PC 이상 반응 */
@media (min-width: 1024px) {
  .section1 {
    font-size: 190%;
  }

  .section_base {
    display: flex;
  }
}

/* 폰트 추가 (넷마블, https://noonnu.cc/font_page/118, 상업/재배포 가능) */
@font-face {
  src: url("../Fonts/netmarbleB.ttf");
  font-family: "fontfam";
}

@font-face {
  font-family: face;

  src: url("../Fonts/netmarbleL.ttf");
  font-family: "font_Lag";
}

.BoldFont {
  font-family: "fontfam";
  color: black;
}

.NormalFont {
  font-family: "font_Lag";
  color: black;
}